<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="ATB2xAPIAutomation">
        <classes>
            <class name="com.thetestingacademy.tests.fullcrud.PostRequestTest">

            </class>
        </classes>
    </test>
</suite>